@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-regular.eot") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-regular.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("../fonts/roboto-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/roboto-regular.svg#svgFontName")
      format("svg"); /* Legacy iOS */
}

body {
  margin: 0;
  font-family: "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
